<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Django Hybridize{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">

        {% load staticfiles %}
        {% load compress %}
        {% load user_agents %}

        <!-- http://realfavicongenerator.net/ -->
        <!-- generate favicon files to avoid server errors being thrown when requested -->

        {% if request.user_agent.os.family == 'Android' %}

            <!-- framework7 material -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "hybridize/css/framework7.material.min.css" %}">

            <!-- android css -->
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybridize/css/android-theme.scss" %}" type="text/x-scss">
            {% endcompress %}

            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "hybridize/js/jquery-3.2.1.min.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/turbolinks-5.0.3.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybridize/js/framework7.min.js" %}"></script>
		    <!-- local override files -->
		    <script type="text/javascript" src="{% static "hybridize/js/android.js" %}"></script>
		    {% endcompress %}

        {% endif %}

        {% if request.user_agent.os.family == 'iOS' %}

        	<!-- framework7 ios -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "hybridize/css/framework7.ios.min.css" %}">

            <!-- ios -->
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybridize/css/ios-theme.scss" %}" type="text/x-scss">
            {% endcompress %}

            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "hybridize/js/jquery-3.2.1.min.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/turbolinks-5.0.3.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybridize/js/framework7.min.js" %}"></script>
		    <!-- local override files -->
		    <script type="text/javascript" src="{% static "hybridize/js/ios.js" %}"></script>
		    {% endcompress %}

        {% endif %}

    </head>

    <body class="theme-custom">

        <div class="hybrid-container">
        {% block hybrid_content %}{% endblock %}
        </div>

        <!-- technique to asynchronously load css -->
        {% compress js inline %}
        <script>
        var links = document.getElementsByTagName('link');
        for(var i = 0; i < links.length; i++){
            var link = links[i];
            if(link.getAttribute('media') === 'only foo')
                link.setAttribute('media', 'all');
        }
        </script>
        {% endcompress %}

    </body>

</html>
